.DS_Store
iOS/UCDEvents/Build/
iOS/UCDEvents/Build/**/*
iOS/UCDEvents/build/

/iOS/UCD Events/UCD Events.xcodeproj/project.xcworkspace/xcuserdata/ofergoldstein.xcuserdatad/
/iOS/UCD Events/UCD Events.xcodeproj/xcuserdata/ofergoldstein.xcuserdatad/